
.slick-slide {
    height: fit-content;
    border: 1vh solid #8785A2;
    box-sizing: border-box;
    font-family: 'BMJUA';
    margin-bottom: 15px;
    
  }
  
  .slick-slide .card .card-img {
    height: 30vh;
  }

  .my-loc p{
      text-align: left;
      margin: 5vh 0 3vh 10px;
      font-size: 20px;
      font-family: 'BMJUA';
  }
  .card-text{
    text-overflow: ellipsis;
  }


  @font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

