.new_list{
    margin: 7vh 0 0 14vh;
    /* border: 0.1vh solid #8785A2; */
    height: fit-content;
    border-radius: 2vh;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}

.list_group{
    /* border: 1vh solid #8785A2; */
    border-radius: 0vh 0vh 2vh 2vh;
}

.new_community p{
    float: left;
    margin: 2vh 0 3vh 4vh;
    font-family: 'BMJUA';
    /* border: 0.1vh solid #8785A2; */
}
.new_community a{
    margin: 2vh 0 3vh 4vh;
    font-size: 2vh;
    font-family: 'BMJUA';
    /* border: 0.1vh solid #8785A2; */
}
.new_community{
    display: inline-flex;
    /* border: 1vh solid #8785A2; */
    background-color: #FFFFFF;
    border-radius: 2vh 2vh 0vh 0vh;
    width: 80vh;
}