body{
    color: #000;
}
.fw-bold{
    display: flex;
    /* border: 0.1vh solid #8785A2; */
    width: 80vh;
    
}

.header {
    width: 20%;
    /* border: 0.1vh solid #8785A2; */
    text-align: left;
    padding-left: 2vh;
    color: brown;
    margin-right: 2vh;
    font-family: DungGeunMo;
}
.title {
    width: 100%;
    /* border: 0.1vh solid #8785A2; */
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    font-family: Jalnan;
}