.pop .slick-slide {
    height: 70vh;
    border: 1vh solid #8785A2;
    box-sizing: border-box;
    font-family: 'BMJUA';
    margin-bottom: 15px;
    
  }

.pop-theme p{
    text-align: left;
      margin: 7vh 0 3vh 4vh;
      font-size: 20px;
      font-family: 'BMJUA';
}



  .pop-picture img{
    float: left; 
    width: 55vh;
    height: 68vh;
    object-fit: fill;

  }

  .theme-info{
    width: max;
    height: 68vh;
  }

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}