.pop .slick-slide {
    /* border: 0vh solid #ffffff; */
    box-sizing: border-box;
    font-family: 'BMJUA';
    margin-bottom: 15px;
  }

.pop-theme p{
    text-align: left;
    margin: 2vh 0 3vh 4vh;
    font-family: 'BMJUA';
}
.pop{
    width: 55vh;
    margin: 7vh 0 7vh 10vh;
    padding: 1vh 4vh 1vh 4vh;
    /* border: 1vh solid #8785A2; */
    background-color: #FFFFFF;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    border-radius: 2vh;
}
  .theme-info{
    width: max;
    height: 68vh;
  }