.pop .slick-slide {
    height: fit-content;
    border: 0vh solid #ffffff;
    box-sizing: border-box;
    font-family: 'BMJUA';
    margin-bottom: 15px;
  }

.pop-theme p{
    text-align: left;
    margin: 2vh 0 3vh 4vh;
    font-size: 20px;
    font-family: 'BMJUA';
}
.pop{
    width: 60vh;
    margin: 7vh 0 7vh 3vh;
    border: 1vh solid #8785A2;
}



  .theme-info{
    width: max;
    height: 68vh;
  }